.App-title {
  margin-top: 1rem;
  font-size: 2rem;
}

.App-content {
  padding: 2rem;
  text-align: left;
}

.App-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.App-controls {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}

.add-button {
  background-color: #61dafb;
  color: #fff;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.add-button:hover {
  background-color: #21a1f1;
}
